/*
          COLORS
       
          GREEN
        light - #d3f9d8
        base - #51cf66
        thick - #2b8a3e
           
          GRAY
        light - #f1f3f5
        base -  #adb5bd
        dark -  #495057
          
        



*/

.nav {
  display: flex;
  max-height: 5rem;
  justify-content: space-between;
  
}

html {
  font-size: 62.5%;
}
 body {
  font-family: 'Arial', serif;
 }
a{
  text-decoration: none;
  display: inline-block;
}
li {
  list-style-type: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    /* NAV CSS */
.icon-div {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.nav {
  background-color: #f6f9fd; 
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .4rem;
}
.nav img{
  width: 4rem;
}
.nav ul {
  display: flex;
  gap: 6px;
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;

  
}
.icon-text {
 font-size: 1.3rem;
 font-weight: bold;
}
.log-group {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 1rem;

}

.register {
  font-size: 1.4rem;
  padding: 0.7rem .9rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background-color: #51cf66;
}




.welcome-grp {
  display: flex;
  flex-direction: column;
}
.entry {
  text-align: center;
  margin-top: 3rem;
}
.det {
  text-align: center;
  color: ;
}


