/*
          COLORS
       
          GREEN
        light - #d3f9d8
        base - #51cf66
        thick - #2b8a3e
           
          GRAY
        light - #f1f3f5
        base -  #adb5bd
        dark -  #495057
          
        



*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li {
  list-style-type: none;
}