/*
          COLORS
       
          GREEN
        light - #d3f9d8
        base - #51cf66
        thick - #2b8a3e
           
          GRAY
        light - #f1f3f5
        base -  #adb5bd
        dark -  #495057
          
        



*/

.nav {
  display: flex;
  max-height: 5rem;
  justify-content: space-between;
  
}

html {
  font-size: 62.5%;
}
 body {
  font-family: 'Arial', serif;
 }
a{
  text-decoration: none;
  display: inline-block;
}
li {
  list-style-type: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    /* NAV CSS */
.icon-div {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.nav {
  background-color: #f6f9fd; 
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .4rem;
}
.nav img{
  width: 4rem;
}
.nav ul {
  display: flex;
  gap: 6px;
  margin-top: 1.3rem;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;

  
}
.icon-text {
 font-size: 1.3rem;
 font-weight: bold;
}
.log-group {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 1rem;

}

.register {
  font-size: 1.4rem;
  padding: 0.7rem .9rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background-color: #51cf66;
}




.welcome-grp {
  display: flex;
  flex-direction: column;


}
.entry {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.3rem;
  
}
.det {
  text-align: center;
  color: #495058;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 80%;
}
.h2-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.learn {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  overflow-x: auto;
padding-bottom: .4rem;
padding-top: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
  scroll-behavior: smooth;
  width: 100%;
    -webkit-overflow-scrolling: touch;   /* smooth scrolling on iPhone */
  scrollbar-width: none;              /* Firefox hide scrollbar */
}
.learn-list {
  min-width: 15rem;
  box-shadow: 0px 2px 4px gray;
  min-height: 15rem;
  border-radius: 7px;
   transition: transform 0.3s ease, box-shadow .2s ease; /*WHERE U STOPPED */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.learn-list.Tech-history {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/History.jpg);
 
}
.learn-list.Programming {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/programming.jpg);
 
}
.learn-list.Gadgets {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/Gadgets.jpg);
 
}
.learn-list.Tech-history {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/History.jpg);
 
}
.learn-list.Dev {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/Dev.jpg);
 
}
.learn-list.Systems {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/Operate.jpg);
 
}
.learn-list.Hardware {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/Hardware.jpg);
 
}
.learn-list.Software {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/software.jpg);
 
}
.learn-list.Mobile {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/Mobdev.jpg);
 
}
.learn-list.Intelligent {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(IMAGES/AI.jpg);
 
}
.learn-list:hover {
  transform: translateY(-2px);
  
}
.hing {
  font-weight: bold;
  font-size: 1.7rem;
}



